
.navbar{
  display: flex;
  background: var(--main-white);
  /* background: var(--main-green); */
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  height: 4rem;
  border-radius: 1rem;
}

.logo{
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.home-links,
.what-links,
.who-links,
.how-links,
.updates-links{
  display: none;
}

/* .nav-links{
  display: flex;
  align-items: center;
} */

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.links-container > li{
  margin-left: 1.3rem;
  font-size: 1.255rem;
  font-weight: bold;
  color: var(--primary-color);
}

.show{
  position: relative;
  top: -2rem;
}

.links-container > li:hover .show{
  display: grid;
  position: absolute;
  top: 60px;
  text-align: center;
  z-index: 1;
  /* left: 20px; */
}

.show li{
  color: var(--main-green);
}

.links-container > li:nth-child(1):hover .show{  
  left: 0px;
}

.links-container > li:nth-child(2):hover .show{
  left: 50px;
}

.links-container > li:nth-child(3):hover .show{  
  left: 20px;
}

.links-container > li:nth-child(4):hover .show{
  left: 20px;
}

.logo-icon{
  display: none;
}

.links-container div{
  width: 2px;
  height: 25px;
  background: var(--primary-color);
  margin-left: 0.5rem;
}




@media screen and (max-width:960px) {
  .nav-links{
    display: none;
  }
  .logo-icon{
    display: block;
  }
}