
.navbar{
  display: flex;
  background: var(--main-white);
  /* background: var(--main-green); */
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 1.25rem; */
  /* height: 4rem; */
  border-radius: 1rem;
  position: relative;
  width: 100%;
  padding: 1rem 1.5rem;
}

.logo{
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.home-links,
.what-links,
.who-links,
.how-links,
.updates-links{
  display: none;
}

/* .nav-links{
  display: flex;
  align-items: center;
} */

.links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.links-container > li{
  margin-left: 1.3rem;
  font-size: 1.255rem;
  font-weight: bold;
  color: var(--primary-color);
}

.show{
  position: relative;
  top: -2rem;
}

.links-container > li:hover .show{
  display: grid;
  position: absolute;
  top: 60px;
  text-align: center;
  z-index: 1;
  /* left: 20px; */
}

.show li{
  color: var(--main-green);
}

.links-container > li:nth-child(1):hover .show{  
  left: 0px;
}

.links-container > li:nth-child(2):hover .show{
  left: 50px;
}

.links-container > li:nth-child(3):hover .show{  
  left: 20px;
}

.links-container > li:nth-child(4):hover .show{
  left: 20px;
}

.logo-icon{
  display: none;
}

.links-container div{
  width: 2px;
  height: 25px;
  background: var(--primary-color);
  margin-left: 0.5rem;
}

.small-screen{
  display: none;
}


.small-screen-overlay .close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.small-screen-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  transition: .5s ease;

  flex-direction: column;
  z-index: 5;
}

.smallscreen_links{
  list-style: none;
}

.smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 2rem;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-base);
}

.smallscreen_links li a {
  text-decoration: none;
  color: var(--color-white);
}

.smallscreen_links li:hover {
  color: var(--color-white);
}

@media screen and (max-width:960px) {
  .nav-links{
    display: none;
  }
  .logo-icon{
    display: block;
  }
}

@media screen and (max-width:850px) {
  .small-screen{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    /* position:absolute;
    top: 30%;
    left: 20%;
    width: 100%; */
    /* height: 100%; */
    /* background: var(--primary-color); */
  }
}