
.news{
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  /* flex-direction: column; */
  margin: 2rem auto;
}

head{
  font-size: 3rem;
  text-transform: capitalize;
  color: brown;
  margin: 2rem auto;
  text-align: center;
}

.news h3{
  /* display: flex;
  align-items: center;
  justify-content: space-evenly; */
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
}

.news-container{
  display: grid;
  grid-template-columns: repeat(1fr , 1fr);
}