

.form{
  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-control{
  width: 20rem;
  height: 2rem;
  margin: 2rem auto 1rem;
}

.form-control input{
  width: 60%;
}