
.impact{
  width: 90vw;
  /* height: 100vh; */
  padding: 4% 5%;
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  text-transform: uppercase;
  color: var(--color-gold);
  font-size: 2.4rem;
  margin: 2rem  auto;
  text-align: center;
}

.main{
  display: flex;
  align-items: flex-start;
  justify-content: space-around; 
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fit,minmax(200px , 1fr)); */
  gap: 2rem 3rem;
  width: 100%;
  /* flex-wrap: wrap; */
}

.circle{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border-right: 20px solid var(--color-gold);
  flex-basis: auto;
  background: var(--primary-color);
  object-fit: contain;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  flex: 1;
}

.impacts{
  width: 100%;
}

.circle h3 ,h5{
  color: var(--main-white);
  position: absolute;
  text-align: center;
}

.circle h3{
  font-size: 4rem;
  top: -1.75rem;
}

.circle h5{
  text-transform: uppercase;
  font-size: 2rem;
  bottom: 0.75rem;
}

/* .circle :nth-child(2) h5{
  margin-left: 1rem;
  text-align: center;
} */